<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Chrono Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/adminAssets/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link
      href="/adminAssets/assets/css/main.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- <link rel="stylesheet" type="text/css" href="/adminAssets/assets/css/main.css"> -->
  </head>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
      new DataTable("#sales", {
        order: [[0, "desc"]],
      });
    });
  </script>
  <body>
    <main>
      <section class="content-main">
        <div class="content-header">
          <div>
            <button class="btn btn-primary">
              <a style="color: aliceblue" href="/admin/getadmin-dash">back</a>
            </button>
          </div>
          <div>
            <h2 class="content-title card-title">Sales List</h2>
            <p>Sale Insights.</p>
          </div>
          <button
            id="printButton"
            class="btn-primary"
            style="border-radius: 5px; padding: 5px"
          >
            Print Invoice
          </button>
          <div>
            <form action="/admin/sale" method="get">
              <label for="startDate">Start Date:</label>
              <input type="date" id="startDate" name="startDate" required />

              <label for="endDate">End Date:</label>
              <input type="date" id="endDate" name="endDate" required />
              <br />
              <br />
              <button
                type="submit"
                class="btn btn-primary"
                style="margin-left: 120px"
              >
                Generate Report
              </button>
            </form>
          </div>
        </div>
        <div class="card mb-4">
          <header class="card-header"></header>
          <!-- card-header end// -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover" id="sales">
                <thead>
                  <tr>
                    <th scope="col">Ordered Date</th>
                    <th scope="col">order ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Payement Method</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (orders.length > 0) { %> <% const reversedOrders =
                  orders.reverse(); %> <% reversedOrders.forEach((order) => { %>
                  <tr>
                    <td>
                      <%= order.orderDate.toLocaleDateString('en-US', { month:
                      'long', day: 'numeric', year: 'numeric' }) %>
                    </td>
                    <td><%= order._id %></td>
                    <td><%= order.address.userName %></td>
                    <td>
                      <% order.products.forEach((product) => { %> <%=
                      product.productId.name %> <br />
                      <% }) %>
                    </td>
                    <td>
                      <% order.products.forEach((product) => { %>
                      <span class="badge rounded-pill alert-success"
                        ><%= product.quantity %> </span
                      ><br />
                      <% }) %>
                    </td>
                    <td><%= order.totalAmount %></td>
                    <td><%= order.paymentMethod %></td>
                  </tr>
                  <% }) %> <% } else { %>
                  <td>No Orders Found</td>
                  <% } %>
                </tbody>
              </table>
            </div>
            <!-- table-responsive //end -->
          </div>
          <!-- card-body end// -->
        </div>
        <!-- card end// -->
      </section>
      <!-- content-main end// -->
    </main>
    <script>
      document
        .getElementById("printButton")
        .addEventListener("click", function () {
          window.print();
        });
    </script>
    <script src="/adminAssets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/adminAssets/assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script
      src="/adminAssets/assets/js/main.js"
      type="text/javascript"
    ></script>
    <script
      src="/adminAssets/assets/js/custom-chart.js"
      type="text/javascript"
    ></script>
  </body>

  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>
